body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding: 50px 55px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2 {
    color: #283629;
    font-size: 35px;
}

label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: beige;
    border: 2px solid #F0FAF1;
    color: black;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: #b5cab6;
}

.formulari-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
 
.enviar {
    font-size: 16px;
    color: black;
    border: 0;
    border-radius: 25px;
    background-color: beige;
    box-shadow: 0 0 20px white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.enviar:hover {
    background-color: whitesmoke;
}
.respostes {
    font-size: 16px;
    color: black;
    border: 0;
    border-radius: 25px;
    background-color: beige;
    box-shadow: 0 0 20px white;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.respostes:hover {
    background-color: whitesmoke;
}

@media(max-with:991px) {
    body {
        padding: 30px;
}
    form {
    padding: 50px 30px;
    width: 100px; 
}

input {
    padding: 15px;
}
}